body{
  background-color: 	#000000;
  text-align: center;
}

 h1 {
   font-family: verdana;
   font-weight: Normal;
   font-size: 50px;
   color: 	#FFFFFF;
 }

.dl {
  color: #7FFFD4;
  font-size: 16px;
}

p {
    color: Gray;
    font-size: 21px;
}

.copyright {
    text-align: right;
}
